@value makerWhite from '../../common/color.css';
@value makerGreen from '../../common/color.css';
.cardPreview{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 86vh;
    background: makerWhite;
    overflow: auto;
}
.cardPreview::-webkit-scrollbar {
    display: none;
}
.cardPreview h2{
    margin-top: 20px;
    color: makerGreen;
}
.cardPreview ul{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}