.ThemaBox{
    border-right: 3px dashed #bdddf6e5;
    text-align: center;
    width: 400px;
    height: 100%;
    overflow: auto;
}
.ThemaBox .title{
    color: white;
    padding-top: 10px;
}
.Thema{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1024px){
    .ThemaBox{
        width: 100%;
        height: 40%;
    }
    .Thema{
        flex-direction: row;
    }
}