@value makerGreen from '../../common/color.css';
@value makerLightGrey from '../../common/color.css';
footer{
    background: makerGreen;
    text-align: center;
}
footer p{
    color: makerLightGrey;
    padding: 10px;
}