@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
}
button:focus{
  border: none;
  outline:none;
}
#root{
  width: 100%;
  height: 100%;
  background: url("https://photo-cdn2.icons8.com/beJGRG-nXZPJuIQ5R7HQPgbNxVwK1UcBWAlIY0Ggbxk/rs:fit:576:385/Z3M6Ly9tb29zZTIv/YXNzZXRzL3NhdGEv/b3JpZ2luYWwvMTc3/L2VmYjU2ZDA5LWQx/NjItNDRkNi1hNDk5/LTk0N2NjM2YxYTA4/YS5qcGc.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
